@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/H8_7oktkjVeeX06kbAvc0Ary2jK1Y0oNyoF1xLf3zMQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  margin: 0 3rem;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  background-color: hsl(160, 80%, 80%);
  color: hsl(120, 0%, 30%);
}

.container {
  border-left: 2px solid hsl(120, 0%, 50%);
  border-right: 2px solid hsl(120, 0%, 50%);
}

.main-content {
  position: relative;
  z-index: 15;
  top: 4rem;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(120, 100%, 40%);
  color: hsl(120, 100%, 0%);
  text-shadow: 2px 2px hsl(120, 100%, 80%);
  height: 4rem;
  padding: 0 1.5rem;
  position: fixed;
  z-index: 20;
  width: 92.44%;
}

header .logo {
  display: inline-flex;
  align-items: center;
  font-size: 2rem;
}

header .logo img {
  height: 3rem;
}

header #first {
  font-weight: 800;
}

header #second {
  color: hsl(240, 100%, 50%);
}

header .desktop ul {
  display: inline-flex;
  font-size: 1.5rem;
}

header .desktop li {
  border-right: 1rem solid hsl(180, 100%, 50%);
  margin: 0;
  padding: 1.25rem 0;
  font-weight: 400;
}

header .desktop li:last-child {
  border-right: none;
}

header .mobile {
  display: none;
}

/* Banner */

#banner {
  display: flex;
  align-items: center;
  background-color: hsl(180, 40%, 80%);
  line-height: 1.5;
}

#banner img {
  width: 60%;
  padding: 2rem 1.5rem;
}

#banner .text {
  margin: 0 10% 0 2rem;
}

#banner h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
  text-shadow: -2px -2px hsl(120, 100%, 80%);
}

#banner h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: hsl(120, 100%, 20%);
}

#banner h3 {
  font-size: 1.5rem;
  background-color: hsl(120, 100%, 40%);
  color: hsl(120, 100%, 0%);
  padding: 0.5rem 0;
  margin-top: 2rem;
  text-align: center;
  width: 75%;
}

/* Features */

#features  {
  display: flex;
  background-color: hsl(120,  100%, 80%);
}

#features .main {
  margin: 2rem 1.5rem;
}

#features h2,
#features h3 {
  font-weight: 400;
}

#features .main h1 {
  font-size: 2.5rem;
  padding-top: 2rem;
  color: hsl(120, 100%, 20%);
}

#features .main h2 {
  width: 90%;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 1.5rem;
}

#features .main h3 {
  font-size: 1rem;
  padding-top: 2rem;
  font-weight: bold;
  color: hsl(120, 100%, 0%);
}

#features .dates {
  display: inline-flex;
  flex-flow: row wrap;
  margin: 2rem 0;
}

#features .info {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border: 2px solid hsl(120, 0%, 50%);
  border-right: none;
}

#features img.desktop {
  margin: 1rem;
  width: 33%;
  height: auto;
}

#features img.mobile {
  display: none;
}

#features .info .text {
  width: 65%;
  margin-left: 2rem;
  line-height: 2;
}

#features .info .text h1 {
  font-size: 1.5rem;
}

#features .info .text h2 {
  font-size: 1rem;
}

#features .info .text h3 {
  font-size: 1rem;
  color: blue;
}

#features .orientation {
  background-color: hsl(180, 100%, 65%);
  border-bottom: none;
}

#features .campus {
  background-color: hsl(180, 100%, 75%);
  border-bottom: none;
}

#features .lecture {
  background-color: hsl(120, 100%, 60%);
}

/* Majors */

#majors {
  width: auto;
  background-color: hsl(180, 40%, 80%);
  padding: 0 4.5rem 2rem 4.5rem;
}

#majors h1.top {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
  color: hsl(240, 100%, 50%);
}

#majors .text {
  margin: 1rem;
}

#majors .text h1 {
  font-size: 2rem;
  text-align: left;
  margin: 1rem;
  text-shadow: 2px 0 hsl(120, 100%, 20%);
}

#majors .text h2,
#majors .text h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5rem 1rem;
}

#majors .text h3 {
  color: hsl(240, 100%, 30%);
}

#majors .sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

#majors .courses {
  width: 30%;
  padding-bottom: 2rem;
  background-color: hsl(90,  100%, 95%);
  border: 4px solid hsl(120, 100%, 80%);
  margin: 1rem;
}

#majors .courses img {
  margin: 0;
  width: 100%;
}

/* Exhibits */

#exhibits {
  position: relative;
  padding-bottom: 2rem;
  color: hsl(120, 0%, 20%);
}

#exhibits h1.top {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
  color: hsl(120, 100%, 20%);
}

#exhibits .video h1 {
  font-size: 2.5rem;
  padding-top: 2rem;
}

#exhibits .video h2 {
  width: 90%;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 1.5rem;
  font-weight: 400;
}

#exhibits .showing {
  display: flex;
}

#exhibits .video.desktop {
  margin: 0 1.5rem;
  width: auto;
}

#exhibits .video.desktop video {
  width: 100%;
  opacity: 0.5;
  transition-duration: 1s;
  transition-delay: 200ms;
  transition-timing-function: ease-out;
}

#exhibits .video.desktop video:hover {
  opacity: 1;
  transition-duration: 1s;
  transition-delay: 200ms;
  transition-timing-function: ease-out;
}

#exhibits .video.mobile {
  display: none;
}

#exhibits .thesis {
  margin: 0;
}

#exhibits .info {
  display: inline-flex;
  align-items: center;
  height: auto;
  width: 100%;
}

#exhibits .thesis img {
  margin: 1rem;
  height: auto;
}

#exhibits .info .text {
  margin-left: 2rem;
}

#exhibits .text h1 {
  font-size: 2rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

#exhibits .text h2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}

#exhibits .prototype {
  background-color: hsl(180, 40%, 80%);
}

#exhibits .newyork {
  background-color: hsl(120,  100%, 80%);
}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  border-top: 2px solid hsl(120, 0%, 50%);
  padding: 1rem 1.5rem;
  height: 4rem;
  color: hsl(120, 0%, 10%);
}

footer .copyright span {
  padding-right: 0.25rem;
}

footer .terms span{
  padding-left: 1rem;
}

/* Resizing */

@media only screen and (max-width: 1280px) {

}
@media only screen and (max-width: 960px) {

}
@media only screen and (max-width: 450px) {
  body {
    margin: 0;
  }
  header {
    padding: 0;
    justify-content: center;
    position: fixed;
    z-index: 20;
    width: 100%;
  }
  header .logo {
    display: none;
  }
  header .desktop {
    display: none;
  }
  header .mobile {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  header .mobile img {
    height: 75%;
    padding: 0 25%;
  }
  .container {
    border-left: none;
    border-right: none;
  }
  .main-content {
    max-width: 450px;
    position: relative;
    z-index: 15;
    left: 0;
    border: none;
  }
  #banner {
    flex-direction: column;
  }
  #banner img {
    width: 100%;
    padding: 0;
  }
  #banner .text {
    margin: 2rem 1rem;
  }
  #banner h1 {
    font-size: 2.25rem;
  }
  #banner h2 {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
  #banner h3 {
    margin-top: 0;
    width: 100%;
    background-color: hsl(120, 0%, 60%);
  }
  #features .main {
    display: none;
  }
  #features .dates {
    margin: 0 0 2rem 0;
  }
  #features .info {
    height: auto;
    display: block;
    margin: 1rem;
    border: 1px solid hsl(120, 100%, 0%);
  }
  #features img.desktop {
    display: none;
  }
  #features img.mobile {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  #features .info .text {
    width: 85%;
    margin-left: 1rem;
  }
  #majors {
    background-color: hsl(90,  100%, 100%);
    border-top: 1px solid hsl(120, 0%, 85%);
    border-bottom: 1px solid hsl(120, 0%, 85%);
    padding: 1rem 0;
  }
  #majors img {
    display: none;
  }
  #majors h1.top {
    font-size: 2.5rem;
    padding: 1rem 0;
  }
  #majors .text {
    margin: 0;
  }
  #majors .text h1 {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
  }
  #majors .text h2,
  #majors .text h3 {
    display: none;
  }
  #majors .sections {
    display: block;
    margin: 0 1rem;
  }
  #majors .courses {
    width: 100%;
    margin: 0 1rem 0.5rem 0;
    background-color: hsl(120, 0%, 85%);
  }
  #exhibits {
    padding-bottom: 1.5rem;
    padding-top: 2rem;
  }
  #exhibits h1.top {
    font-size: 2.5rem;
    padding: 0 0 1rem 0;
  }
  #exhibits .showing h1,
  #exhibits .showing h2,
  #exhibits .thesis {
    display: none;
  }
  #exhibits .showing {
    display: block;
  }
  #exhibits .video {
    margin: 0;
    width: 100%;
    height: auto;
    border: none;
  }
  #exhibits .video.desktop {
    display: none;
  }
  #exhibits .video.mobile {
    display: block;
  }
  #exhibits .video.mobile video {
    opacity: 0.5;
    transition-duration: 1s;
    transition-delay: 200ms;
    transition-timing-function: ease-out;
  }
  #exhibits .video.mobile video:hover {
    opacity: 1;
    transition-duration: 1s;
    transition-delay: 200ms;
    transition-timing-function: ease-out;
  }
  footer {
    display: inline;
    border: none;
    margin: 1rem;
  }
  footer .copyright {
    padding-left: 1rem;
  }
  footer .terms span {
    display: none;
  }
}
