@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/H8_7oktkjVeeX06kbAvc0Ary2jK1Y0oNyoF1xLf3zMQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  color: hsl(120, 0%, 30%);
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 4rem;
  width: auto;
  padding: 0 1.5rem;
  font-size: 1.5rem;
  z-index: 20;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo img {
  height: 3rem;
}

#first {
  font-weight: bold;
  color: black;
}

#second {
  color: grey;
}

.desktop {
  display: inline-flex;
}

.desktop a {
  border-right: 16px solid hsla(180, 100%, 50%, 0.5);
  margin: 0;
  padding: 1.25rem 0;
  font-weight: 400;
}

.desktop a:last-child {
  border-right: none;
}

nav.mobile {
  display: none;
}

/* Banner */

#banner {
  display: flex;
  align-items: center;
  background-color: hsl(120, 0%, 80%);
  line-height: 1.5;
}

#banner img {
  width: 60%;
  padding: 2rem 1.5rem;
}

#banner .text {
  margin: 0 10% 0 2rem;
}

#banner h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
}

#banner h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

#banner h3 {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  margin-top: 2rem;
  text-align: center;
  width: 75%;
}

/* Features */

#features  {
  display: flex;
}

#features .main {
  margin: 2rem 1.5rem;
}

#features h2,
#features h3 {
  font-weight: 400;
}

#features .main h1 {
  font-size: 2.5rem;
  padding-top: 2rem;
}

#features .main h2 {
  width: 90%;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 1.5rem;
}

#features .main h3 {
  font-size: 1rem;
  padding-top: 2rem;
}

#features .dates {
  display: inline-flex;
  flex-flow: row wrap;
  margin: 2rem 0;
}

#features .info {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border: 2px solid hsl(120, 0%, 90%);
}

.info img {
  margin: 1rem;
  width: 33%;
  height: auto;
}

.info .text {
  width: 65%;
  margin-left: 2rem;
  line-height: 2;
}

.info .text h1 {
  font-size: 1.5rem;
}

.info .text h2 {
  font-size: 1rem;
}

.info .text h3 {
  font-size: 1rem;
  color: blue;
}

.lecture {
  background-color: hsl(120, 0%, 90%);
}

/* Majors */

#majors {
  background-color: hsl(120, 10%, 95%);
  padding: 0 4.5rem 2rem 4.5rem;
}

#majors h1.top {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
}

#majors .text {
  margin: 1rem;
}

#majors .text h1 {
  font-size: 2rem;
  text-align: left;
  margin: 1rem;
}

#majors .text h2,
#majors .text h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5rem 1rem;
}

.sections {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.courses {
  width: 30%;
  padding-bottom: 2rem;
  background: white;
  margin: 1rem;
}

.courses img {
  margin: 0;
}

/* Exhibits */

#exhibits {
  margin-bottom: 2rem;
}

#exhibits h1.top {
  font-size: 3rem;
  text-align: center;
  padding: 2rem 0;
}

#exhibits .video h1 {
  font-size: 2.5rem;
  padding-top: 2rem;
}

#exhibits .video h2 {
  width: 90%;
  font-size: 1.25rem;
  line-height: 1.5;
  padding-top: 1.5rem;
  font-weight: 400;
}

.showing {
  display: flex;
}

.video {
  margin: 0 2rem;
  width: 60%;
}

video {
  width: auto;
}

#exhibits .thesis {
  margin: 0;
}

#exhibits .info {
  display: inline-flex;
  align-items: center;
  height: 35%;
  width: 100%;
}

#exhibits img {
  margin: 1rem;
  width: 30%;
  height: auto;
}

#exhibits .info .text {
  margin-left: 2rem;
}

#exhibits .text h1 {
  font-size: 2rem;
  line-height: 1.5;
  padding-bottom: 1rem;
}

#exhibits .text h2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
}

.prototype {
  background-color: hsl(120, 0%, 90%);
}


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  border-top: 2px solid hsl(120, 0%, 90%);
  padding: 1rem 1.5rem;
  height: 4rem;
}

.copyright span {
  padding-right: 0.25rem;
}

.terms span{
  padding-left: 1rem;
}
